<div class="footer mt-3">
    <!-- section1 -->
    <div class="container mx-auto pt-4">
        <div class="row text-white">
            <div class="col-3">
                <h5>Get to Know Us</h5>
                <p>About Us</p>
                <p>Careers</p>
                <p>Press Release</p>
                <p>Amazone Cares</p>
                <p>Gift a Smile</p>
            </div>
            <div class="col-3">
                <h5>Get to Know Us</h5>
                <p>About Us</p>
                <p>Careers</p>
                <p>Press Release</p>
                <p>Amazone Cares</p>
                <p>Gift a Smile</p>
            </div>
            <div class="col-3">
                <h5>Get to Know Us</h5>
                <p>About Us</p>
                <p>Careers</p>
                <p>Press Release</p>
                <p>Amazone Cares</p>
                <p>Gift a Smile</p>
            </div>
            <div class="col-3">
                <h5>Get to Know Us</h5>
                <p>About Us</p>
                <p>Careers</p>
                <p>Press Release</p>
                <p>Amazone Cares</p>
                <p>Gift a Smile</p>
            </div>
        </div>
    </div>
    <hr class="mt-5">
    <!-- section2 -->
    <div class="container mx-auto mt-4 mb-3">
        <ul class="d-flex justify-content-between flex-wrap">
            <li>Australia</li>
            <li>Australia</li>
            <li>Australia</li>
            <li>Australia</li>
            <li>Australia</li>
            <li>Australia</li>
            <li>Australia</li>
            <li>Australia</li>
            <li>Australia</li>
            <li>Australia</li>
            <li>Australia</li>
            <li>Australia</li>
            <li>Australia</li>
            <li>Australia</li>
            <li>Australia</li>
            <li>Australia</li>
        </ul>
    </div>
    <!-- section3 -->
    <div class="section3  mt-3">
        <div class="container mx-auto">

            <div class="row row-cols-5">
                <div class="col">
                    <p> IMDb <br>
                        Movies, TV <br>
                        & Celebrities</p>
                </div>
                <div class="col">
                    <p> IMDb <br>
                        Movies, TV <br>
                        & Celebrities</p>
                </div>
                <div class="col">
                    <p> IMDb <br>
                        Movies, TV <br>
                        & Celebrities</p>
                </div>
                <div class="col">
                    <p> IMDb <br>
                        Movies, TV <br>
                        & Celebrities</p>
                </div>
                <div class="col ">
                    <p> IMDb <br>
                        Movies, TV <br>
                        & Celebrities</p>
                </div>
                <div class="col mt-3">
                    <p> IMDb <br>
                        Movies, TV <br>
                        & Celebrities</p>
                </div>
                <div class="col mt-3">
                    <p> IMDb <br>
                        Movies, TV <br>
                        & Celebrities</p>
                </div>
                <div class="col mt-3">
                    <p> IMDb <br>
                        Movies, TV <br>
                        & Celebrities</p>
                </div>
                <div class="col mt-3">
                    <p> IMDb <br>
                        Movies, TV <br>
                        & Celebrities</p>
                </div>
            </div>
            <p class="text-center mt-2">Conditions of Use & SalePrivacy NoticeInterest-Based Ads© 1996-2022, Amazon.com, Inc.
                or its affiliates</p>

        </div>
    </div>
</div>